h1,h2,h3,h4 {font-weight: 700;}
h1 {font-size: 3rem;}
h2 {font-size: 2rem;}
h3 {font-size: 1rem;}
h4 {font-size: 1rem;}

b {font-weight: 700;}
i {font-style: italic;}

.container {
  display: flex;
  margin: 0 auto;
  max-width: 50rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.col-1 {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 66%;
}

.col-2 {
  flex-grow: 1;
  flex-shrink: 2;
  flex-basis: 33%;
}

/*Header*/

header .container {
  padding-bottom: 2rem;
  border-bottom: 2px solid black;
}

/*content*/

ul.jobs li {
  padding-right: 2rem;
  margin-bottom: 2rem;
}

/*footer*/
