/* Lets pick colours! */

:root {
  --bg-color: #fff;
  --text-color: #000;
  --highlight-color: #000;
  --link-color: blue;
}

body, html {
  color: var(--text-color);
  background-color: var(--bg-color);

  /*Declare your font*/
  font-family: serif;
}

/*choose your type heirarchy*/
h1,h2,h3,h4 {font-weight: 700;}
h1 {font-size: 3rem;}
h2 {font-size: 2rem;}
h3 {font-size: 1rem;}
h4 {font-size: 1rem;}

b {font-weight: 700;}
i {font-style: italic;}
a {color: var(--link-color)}

/*basic structure*/
.container {
  display: flex;
  margin: 0 auto;
  max-width: 50rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.col-1 {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 66%;
}

.col-2 {
  flex-grow: 1;
  flex-shrink: 2;
  flex-basis: 33%;
}


/*Header*/

header .container {
  padding-bottom: 2rem;
  border-bottom: 2px solid black;
}

/*content*/

.bio {flex-direction: column;}
.bio p, .bio ul li {margin-bottom: 1rem;}

ul.jobs li {
  padding-right: 2rem;
  margin-bottom: 2rem;
}

/*footer*/
footer .container {
  padding: 2rem 0;
  border-top: 2px solid black;
}
